/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	--color-header-nav: #ff6900;
	--color-background: #ffffff;
	--color-footer: #1a1a1a;
}

/* Header */

header {
    background-color: #ff6900;
}

.nav-bar {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ff6900;
}

.gender, .fonts, .logo {
    line-height: 80px;
}

.gender > a {
    color: white;
    text-decoration: none;
    padding-right: 10px;
}

.fonts > a{
    color: white;
    text-decoration: none;
}

/* main */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 30px;

}

.card {
    width: 380px;
    height: 600px;
    position: relative;
    margin-bottom: 100px;
    margin-right: 20px;
}

.heart {
    width: 40px;
    height: 40px;
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 0px;
    background-color: white;
    text-align: center;
    line-height: 40px;
}

.prices {
    position: absolute;
    bottom: 20px;
    left: 0;
}

.newprice {
    color:red;
    padding-right: 5px;
}

.oldprice {
    text-decoration: line-through;
}

.description-product {
    padding-top: 10px;
}

/* utility */

.discount-red {
    background-color: red;
    color: white;
    width: 10px;
    padding: 5px;
}

.sostenibility-green {
    background-color: green;
    color: white;
    padding: 5px;
}


/* flex utlity */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.align-content {
    align-items: center;
}